#videome{
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.react-player{
    padding: 50px;
}

@media screen and (max-width: 600px){
    .react-player{
        margin-top: -100px;
        padding: 150px;
    }
}