#videome{
    font-family: 'Russo One', sans-serif;
}

.react-player{
    width: 700px;
    height: 400px;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .react-player{
        width: 350px;
        height: 200px;
    }
 }