#videome{
    font-family: 'Russo One', sans-serif;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px){

    .react-player{
        width: 350px;
        height: 200px;
    }
 }