@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=IBM+Plex+Sans+Thai:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Chakra+Petch:ital,wght@1,300&family=IBM+Plex+Sans+Thai:wght@500&family=Kanit:ital,wght@1,600&family=Russo+One&display=swap');

header{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Kanit', sans-serif;
}

header{
    position: relative;
    width: 100%;
}

.container_header{
    width: 100%;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.icon_cs h1{
    font-size: 3.5vh;
    text-shadow: 5px 5px 10px #00070a;
}


.icon_cs h1 b{
    font-size: 5vh;
    color: #0084ff;
    text-shadow: 5px 5px 10px #00070a;
}

.icon_all_social{
    display: flex;
    align-items: center;
    font-size: 4vh;
}

.icon_all_social a{
    margin-left: 10px;
    z-index: 2;
}

.icon_all_social a:hover{
    font-size: 5vh;
    cursor: pointer;
}

.content-header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    justify-content: space-between;
    height: 100%;
}

.content-header .hello-content #type-writer{
    margin-left: 10px;
    font-size: 2.5rem;
    color: #0084ff;
    font-family: 'Russo One', sans-serif;
}
.content-header .hello-content #space-content{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 3rem;
    color: #00aeff;
    font-family: 'Russo One', sans-serif;
}

.content-animation{
    display: flex;
}

.hello-content{
    width: 60%;
}

.logo-content{
    margin-top: -50px;
    width: 700px;
    height: 500px;
}

@media screen and (max-width: 600px){
    .content-header{
        flex-direction: column;
        width: 100%;
        display: flex;
    }

}