@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=IBM+Plex+Sans+Thai:wght@500&family=Russo+One&display=swap');

header{
    font-family: 'Russo One', sans-serif;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.icon_cs h1{
    font-size: 3.5vh;
    text-shadow: 5px 5px 10px #00070a;
}


.icon_cs h1 b{
    font-size: 5vh;
    color: #0084ff;
    text-shadow: 5px 5px 10px #00070a;
}

.icon_all_social{
    display: flex;
    align-items: center;
    font-size: 4vh;
}

.icon_all_social a{
    margin-left: 10px;
    z-index: 2;
}

.icon_all_social a:hover{
    font-size: 5vh;
    cursor: pointer;
}

.content-header{
    display: flex;
    margin: 0 auto;
    margin: 100px;
    margin-top: 200px;
    justify-content: space-between;
}

.content-header .hello-content{
    width: 60%;
}

.content-header .hello-content #type-writer{
    margin-left: 10px;
    font-size: 2.5rem;
    color: #0084ff;
}
.content-header .hello-content #space-content{
    margin-top: -10px;
    font-size: 3rem;
    color: #00aeff;
}

.content-animation{
    display: flex;
}

.logo-content{
    margin-top: -50px;
    width: 40%;
    height: 500px;
}

.scroll{
    margin-top: -150px;
}

@media screen and (max-width: 1400px){
    .content-header .hello-content{
        width: 65%;
        margin-bottom: 100px;
    }
    .content-header{
        margin: 0;
        margin: 100px;
        margin-top: 150px;
    }
    .content-header .hello-content #type-writer{
        font-size: 2rem;
    }
    .content-header .hello-content #space-content{
        font-size: 2.5rem;
    }
    
    .logo-content{
        margin-top: -30px;
        margin-left: 30px;
        width: 400px;
        height: 350px;
    }

}

@media screen and (max-width: 1020px){
    .header_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .content-header{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 50px;
    }

    .content-header .hello-content
    {
        padding: 20px;
        width: 100%;
    }

    .content-header .hello-content #type-writer{
        margin: 0;
        margin-left: 10px;
        font-family: 'Russo One', sans-serif;
    }
    .content-header .hello-content #space-content{
        margin: 0;
        margin-top: -10px;
        margin-left: 10px;
        font-size: 3rem;
        color: #00aeff;
        font-family: 'Russo One', sans-serif;
    }
    
    .content-animation{
        display: flex;
    }
    

    .logo-content{
        margin-top: 100px;
        width: 350px;
        height: 350px;
    }

    .scroll{
        margin: 0;
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px){
    .header_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1rem;
    }

    .icon_cs h1{
        font-size: 2vh;
        text-shadow: 5px 5px 10px #00070a;
    }
    
    
    .icon_cs h1 b{
        font-size: 3vh;
        color: #0084ff;
        text-shadow: 5px 5px 10px #00070a;
    }
    
    .icon_all_social{
        display: flex;
        align-items: center;
        font-size: 3vh;
    }
    
    .icon_all_social a{
        margin-left: 10px;
        z-index: 2;
    }
    
    .icon_all_social a:hover{
        font-size: 5vh;
        cursor: pointer;
    }
    

    .content-header{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .content-header .hello-content
    {
        transform: scale(90%);
        width: 100%;
    }

    .content-header .hello-content #type-writer{
        margin: 0;
        margin-left: 10px;
        padding-top: 15px;
        color: #0084ff;
        font-size: 1.25rem;
        color: #0084ff;
        font-family: 'Russo One', sans-serif;
    }
    .content-header .hello-content #space-content{
        margin: 0;
        margin-top: -10px;
        margin-left: 10px;
        font-size: 3rem;
        color: #00aeff;
        font-family: 'Russo One', sans-serif;
    }
    
    .content-animation{
        display: flex;
    }
    

    .logo-content{
        margin-top: 100px;
        width: 250px;
        height: 250px;
    }

    .hello-content h1,h5{
        text-align: center;
    }
}