*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Screen{
  width: 100%;
  overflow: hidden;
}

.Loading{
  text-align: center;
  background: #16232e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/* ----------------nav */
nav{
  animation: slide 0.5s forwards;
  animation-delay: 0.3s;
  background-color: rgb(0, 0, 0, 0.4);
  width: 0px;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: -100%;
  transform: translateX(-50%);
  bottom: 2.5rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  box-shadow: 1px 2px 3px var(--color-primary);
}

nav a{
  background-color: transparent;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-primary);
  font-size: 1.1rem;
}

nav a:hover{
  background: rgba(0, 0, 0, 0.3);
}

nav a.active{
  background: var(--color-bg);
  color: var(--color-white);
}

@keyframes slide {
  100% { 
      left: 50%; 
      width: max-content;
  }
}

@media screen and (max-width: 600px){
  nav{
      bottom: 2rem;
  }
}